server{
    listen 80;
    charset utf-8;

    server_name 13.209.15.205;

    location /static/ {
        alias       /srv/Book_shop/.static/;
    }

    location / {
        proxy_pass      http://unix:/run/book_shop.socket;
    }
}